// Body
$body-bg: #F8F8F8;

// color
$primary: #7367F0;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Fontawesome webfonts
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
